
.detalle-producto-container
  padding: 1rem
  background-color: #f5f5f5
  color: black
  height: 73dvh
  .back-button
    left: 6px
    position: absolute
    background-color: #3498db
    margin: 0
    padding: 10px 15px
    border: none
    border-radius: 5px
    cursor: pointer
    transition: background-color 0.2s ease
    &:hover
      background-color: #ccc

  h2
    margin: 0 0 9px 0

  .card-grid
    display: flex
    flex-direction: row
    gap: 20px
    background: white
    padding: 20px
    border-radius: 10px
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)

    .image-rating-price-container
      flex: 1

      .product-imagen
        width: 250px
        height: 250px
        object-fit: contain

      .product-rating
        display: flex
        align-items: center
        justify-content: space-around
        // .rating-container

        //   .rating-number

        .product-price
          color: #27ae60
          font-weight: bold
          font-size: 18px

  .product-information
    flex: 2
    display: flex
    flex-direction: column
    gap: 10px
    .product-actions
      display: flex
      align-items: center
      justify-content: space-between
