.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegura que esté encima del contenido */
    background-color: rgb(43, 61, 79);
    padding: 0 2rem;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.navbar-logo{
    display: flex;
    align-items: center;
}

.navbar-logo a {
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-link{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-link li{
    margin: 0 10px;
}

.navbar-link li a{
    color: aliceblue;
    text-decoration: none;
    transition: color .3 ease;
}

.navbar-link li a:hover{
    color: #3498db;
}

.navbar-actions{
    display: flex;
    align-items: center;
}

.navbar-actions a{
    margin-left: 15px;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
}

.cart-icon {
    position: relative;
    font-size: 1.5rem;
  }
  
.cart-count {
    position: absolute;
    top: -10px;
    right: -12px;
    background-color: red;
    color: white;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
}
