.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegura que esté encima del contenido */
    background-color: rgb(43, 61, 79);
    padding: 0 2rem;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.navbar-logo{
    display: flex;
    align-items: center;
}

.navbar-logo a {
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-link{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.navbar-link li{
    margin: 0 10px;
}

.navbar-link li a{
    color: aliceblue;
    text-decoration: none;
    transition: color .3 ease;
}

.navbar-link li a:hover{
    color: #3498db;
}

.navbar-link li a.active {
  color: #3498db;
  font-weight: bold;
}
.navbar-link li a.active {
  color: #3498db;
  font-weight: bold;
}
.navbar-link li a.active {
  color: #3498db;
  font-weight: bold;
}
.navbar-link li a.active {
  color: #3498db;
  font-weight: bold;
}

/*Links activos del menú */
.navbar-link li a.active,
.cart-icon.active,
.profile-icon.active,
.navbar-logo a.active {
  padding: 3px;
  border-radius: 3px;
  background-color: #ccc;
  color: #27ae60;
  font-weight: bold;
}


/* Dropdown */
.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  z-index: 999;
}

.dropdown-menu li {
  padding: 0.3rem 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  border-radius: 9px;
  margin-left: 3rem;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
}

.navbar-actions{
    display: flex;
    align-items: center;
}

.navbar-actions a{
    margin-left: 15px;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
}

.cart-icon {
    position: relative;
    font-size: 1.5rem;
  }
  
.cart-count {
    position: absolute;
    top: -10px;
    right: -12px;
    background-color: red;
    color: white;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
}

.logout-button {
  margin-left: 12px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.2s;
}

.logout-button:hover {
  color: #f44336; /* rojo al pasar el mouse */
}
