.home-container
  width: 81%
.slider-section
  margin-top: 60px

.slider-item
  padding: 1rem 0
  height: 81vh
  display: flex !important
  align-items: center
  flex-direction: column
  justify-content: space-between
  background: #fdfdfd
  border-radius: 10px 10px 0 0
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)

.slider-image
  width: 200px
  height: 200px
  object-fit: contain
  margin-bottom: 20px

.slider-info
  padding: 1rem 0
  display: flex
  flex-direction: column
  flex-wrap: wrap
  align-content: center
  justify-content: center
  width: 100%
  text-align: center
  color: #2c3e50
  .price-rating
    display: flex
    justify-content: space-around

.title-description
  width: 90%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.slick-dots
  background-color: white
  border-radius: 0 0 10px 10px
