#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  text-align: center;
  font-family: system-ui, Verdana, Tahoma, sans-serif;
}

.App-Header {
  background-color: #282c34;
  padding: 1rem;
  color: #fffaaa;
}